site_name: aiproteomics
site_description: A package for MSMS spectral library prediction models from the field of (phospho-)proteomics, intended to facilitate the testing and comparison of different neural network architectures and existing models.
site_author: Robin Richardson, Dani Bodor
site_url: https://aiproteomics.github.io/aiproteomics
repo_name: aiproteomics/aiproteomics 
repo_url: https://github.com/aiproteomics/aiproteomics 
edit_uri: "edit/main/docs/"
copyright: Copyright &copy; 2022 Robin Richardson, Dani Bodor

theme:
  name: "material"
  favicon: assets/icon.png
  logo: assets/icon.png
  # icon:
  #   logo: material/microscope
  language: en
  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#primary-color
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - content.code.annotate
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - content.tabs.link
    # - header.autohide
    # - navigation.expand
    # - navigation.instant
    # - navigation.tabs.sticky


plugins:
- search
- autorefs
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        rendering:
          show_source: true
    watch:
      - aiproteomics


# Styled blocks: https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - smarty


extra_css:
  - assets/custom.css

extra_javascript:
  - assets/fontawesome.min.js
  - assets/solid.min.js

extra:
  social:
#    - icon: fontawesome/brands/python
#      link: https://pypi.org/project/nanopub
    - icon: fontawesome/brands/github
      link: https://github.com/aiproteomics
    # - icon: fontawesome/brands/docker
    #   link: https://github.com/orgs/fair-workflows/packages
    # - icon: fontawesome/brands/twitter
    #   link: https://twitter.com/
